.tabs{
    -fx-background-color: #DDD;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
    -fx-border-width: 0px;
    -fx-background-image: url('images/background.png');
}

.bottombar{
    -fx-background-color: #F00;
}

.label{
    -fx-text-fill: #000;
}

.titel{
    -fx-text-fill: #000;
    -fx-font-size: 20px;
}

.W{
    -fx-background-image: url('images/w.png');
}
.A{
    -fx-background-image: url('images/a.png');
}
.S{
    -fx-background-image: url('images/s.png');
}
.D{
    -fx-background-image: url('images/d.png');
}